{
    "extends": ["react-app", "prettier"],
    "rules": {
        "jsx-quotes": ["warn", "prefer-double"],
        "quotes": ["warn", "double"],
        "no-alert": "error",
        "arrow-parens": ["warn", "as-needed"],
        "semi": ["error", "never"]
    },
    "plugins": ["prettier"]
}
