$main-black: #343434;

$header-background: #1c2331;
$header-item-color: #fff;
$header-item-color_h: rgb(219, 219, 219);
$color-for-subtitles: #637282;
$code-color: #aeaeae;

$size-extra-small: 576px;

@mixin for-title {
    color: $main-black;
    font-family: inherit;
    font-size: 35px;
    font-weight: 500;
    margin: 20px 0 15px 10px;
}

@mixin header-link {
    color: $header-item-color;
    transition: all 0.3s;
    &:hover {
        text-decoration: none;
        color: $header-item-color_h;
    }
}
